name: JSON Syntax Check

on:
  pull_request:
    paths:
      - '**/*.json'
jobs:
  json-syntax:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check JSON syntax
        run: |
          find . -name '*.json' | xargs -I {} jq . {} > /dev/null